<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appetizing</title>
  
</head>

<body>

    <img class="logo" src="assets/images/logo.png" alt="logo">

    <h1>Update Order</h1>


    <form #f="ngForm" [formGroup]="updateOrderForm">

        <table class="table">
            <tr>
                <td>Table Number: </td>
                <td>
                    <input formControlName="tableNumber" type="text" id="table-number" class="form-control" placeholder="{{orderToUpdate.tableNumber}}">
                </td>
            </tr>

            <tr>
                <td>User Id: </td>
                <td>
                    <input formControlName="userId" type="text" id="user-id" class="form-control" placeholder="{{orderToUpdate.userIdOrder}}">
                </td>
            </tr>

            <tr>
                <td>Meal: </td>
                <td>
                    <input formControlName="meal" type="text" id="order-meal" class="form-control" placeholder="{{orderToUpdate.mealOrder}}">
                </td>
            </tr>

            <tr>
                <td>Drinks: </td>
                <td>
                    <input formControlName="drink" type="text" id="order-drink" class="form-control" placeholder="{{orderToUpdate.drinkOrder}}">
                </td>
            </tr>

            <tr>
                <td>Extras: </td>
                <td>
                    <input formControlName="extras" type="text" id="order-extra" class="form-control" placeholder="{{orderToUpdate.extraOrder}}">
                </td>
            </tr>

            <tr>
                <td>Status: </td>
                <td>
                    <input formControlName="status" type="text" id="order-status" class="form-control" placeholder="{{orderToUpdate.status}}">
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" name="submit"  (click)="updateOrder()" value="Update Order" class="btn-secondary">
                    <a href="javascript:void(0)" (click)="dashboardOrder()" class="btn-primary">Return</a>
                </td>
            </tr>

        </table>

    </form>
    <footer>
        <div class="footer">
            <div class="wrapper">
                <p class="text-center">Copyright © 2022 <a href="#">Appetizing</a>. All rights reserved.</p>
            </div>
        </div>
    </footer>

</body>

</html>