<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appetizing</title>
  
</head>

<body>

    <img class="logo" src="assets/images/logo.png" alt="logo">

    <h1>Update Meal</h1>


    <form #f="ngForm" [formGroup]="updateMealForm">

        <table class="table">
           
                <tr>
                    <td>Name: </td>
                    <td> 
                        <input formControlName="name" type="text" id="meal_name" class="form-control" placeholder="{{mealToUpdate.nameMeal}}">
                    </td>
                </tr>

                <tr>
                    <td>Price: </td>
                    <td>
                        <input formControlName="price" type="number" id="meal_price" class="form-control" placeholder="{{mealToUpdate.priceMeal}}">
                    </td>
                </tr>

                <tr>
                    <td>Enter Items: </td>
                    <td>
                        <input formControlName="items" type="text" id="meal_items" class="form-control" placeholder="{{mealToUpdate.items}}">
                    </td>
                </tr>

                <tr>
                    <td>Allergies: </td>
                    <td>
                        <input formControlName="allergies" type="text" id="meal_allergies" class="form-control" placeholder="{{mealToUpdate.allergies}}">
                    </td>
                </tr>

                <tr>
                    <td>Extras: </td>
                    <td>
                        <input formControlName="extras" type="text" id="meal_extras" class="form-control" placeholder="{{mealToUpdate.extras}}">
                    </td>
                </tr>

                <tr>
                    <td>Status: </td>
                    <td>
                        <input type="radio" name="active" value="Yes"> Yes
                        <input type="radio" name="active" value="No"> No
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <input type="submit" name="submit"href="javascript:void(0)" (click)="updateMeal()" value="update Meal" class="btn-secondary">
                        <a href="javascript:void(0)" (click)="dashboardMeal()" class="btn-primary">Return</a>
                    </td>
                </tr>
           
        </table>

    </form>
    <footer>
        <div class="footer">
            <div class="wrapper">
                <p class="text-center">Copyright © 2022 <a href="#">Appetizing</a>. All rights reserved.</p>
            </div>
        </div>
    </footer>

</body>

</html>