<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage</title>

</head>

<body>

    <img class="logo" src="assets/images/logo.png" alt="logo">

    <h1>Manage Users</h1>

    <div class="menu text-center">
        <div class="wrapper">
            <ul>
                <li><a href="javascript:void(0)" (click)="dashboardHome()">Home</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardAllergy()">Allergy</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardDrinks()">Drinks</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardItems()">Items</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardMeal()">Meal</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardOrder()">Order</a></li>

            </ul>
        </div>
    </div>
    <div *ngFor="let user of userList">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>

            <tr>
                <td>{{user.nameUser}}</td>
                <td>{{user.emailUser}}</td>
                <td>{{user.phoneUser}}</td>
                <td>{{user.status}}</td>
                <td>
                    <a href="javascript:void(0)" (click)="deleteUser(user)" class="btn-danger">Delete User</a>
                </td>
            </tr>

        </table>
    </div>
    <footer>
        <div class="footer">
            <div class="wrapper">
                <p class="text-center">Appetizing application - Rael Guimaraes</p>
            </div>
        </div>
    </footer>

</body>

</html>