<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appetizing</title>

</head>

<body>

    <img class="logo" src="assets/images/logo.png" alt="logo">

    <h1>Update Admin Password</h1>


    <form action="" method="POST">

        <table class="table">
            <tr>
                <td>Full Name: </td>
                <td>
                    <input type="text" name="full-name" placeholder="Full Name">
                </td>
            </tr>

            <tr>
                <td>User Name: </td>
                <td>
                    <input type="text" name="user-name" placeholder="User Name">
                </td>
            </tr>

            <tr>
                <td>Password: </td>
                <td>
                    <input type="password" name="password" placeholder="Password">
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" name="submit" value="Update Admin" class="btn-secondary">
                    <a href="javascript:void(0)" (click)="dashboardAdmin()" class="btn-primary">Return</a>
                </td>
            </tr>

        </table>

    </form>
    <footer>
        <div class="footer">
            <div class="wrapper">
                <p class="text-center">Appetizing application - Rael Guimaraes</p>
            </div>
        </div>
    </footer>

</body>

</html>