<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appetizing</title>

</head>

<body>

    <img class="logo" src="assets/images/logo.png" alt="logo">

    <h1>Update Admin</h1>


    <form #f="ngForm" [formGroup]="updateAdminForm">

        <table class="table">
            <tr>
                <td>Full Name: </td>
                <td>
                    <input formControlName="fullName" type="text" id="full-Name" class="form-control" placeholder="{{adminToUpdate.nameAdmin}}">
                </td>
            </tr>

            <tr>
                <td>User Name: </td>
                <td>
                    <input formControlName="userName" type="text" id="admin-userName" class="form-control" placeholder="{{adminToUpdate.userNameAdmin}}">
                </td>
            </tr>

            <tr>
                <td>Password: </td>
                <td>
                    <input formControlName="name" type="text" id="drink_name" class="form-control" placeholder="{{adminToUpdate.passwordAdmin}}">
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" name="submit" href="javascript:void(0)" (click)="updateAdmin()" value="Update Admin" class="btn-secondary">
                    <a href="javascript:void(0)" (click)="dashboardAdmin()" class="btn-primary">Return</a>
                </td>
            </tr>

        </table>

    </form>
    <footer>
        <div class="footer">
            <div class="wrapper">
                <p class="text-center">Copyright © 2022 <a href="#">Appetizing</a>. All rights reserved.</p>
            </div>
        </div>
    </footer>

</body>

</html>