<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage</title>

</head>

<body>

    <img class="logo" src="assets/images/logo.png" alt="logo">

    <h1>Manage Items</h1>

    <div class="menu text-center">
        <div class="wrapper">
            <ul>
                <li><a href="javascript:void(0)" (click)="dashboardHome()">Home</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardAdmin()">Admin</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardAllergy()">Allergy</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardDrinks()">Drinks</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardMeal()">Meal</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardOrder()">Order</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardUser()">Users</a></li>

            </ul>
        </div>
    </div>

    <a href="javascript:void(0)" (click)="addItem()" class="btn-primary">Add Item</a>
    <div *ngFor="let item of itemList">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>

            <tr>
                <td>{{item.nameItem}}</td>
                <td>{{item.priceItem}}</td>
                <td>{{item.status}}</td>
                <td>
                    <a href="javascript:void(0)" (click)="updateItem()" class="btn-secondary">Update Item</a>
                    <a href="" class="btn-danger">Delete Item</a>
                </td>
            </tr>

        </table>
    </div>
    <footer>
        <div class="footer">
            <div class="wrapper">
                <p class="text-center">Copyright © 2022 <a href="#"><strong>Appetizing.</strong></a> All rights
                    reserved.</p>
            </div>
        </div>
    </footer>

</body>

</html>