<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage</title>

</head>

<body>

    <img class="logo" src="assets/images/logo.png" alt="logo">

    <h1>Manage Allergy</h1>

    <div class="menu text-center">
        <div class="wrapper">
            <ul>
                <li><a href="javascript:void(0)" (click)="dashboardHome()">Home</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardAdmin()">Admin</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardDrinks()">Drinks</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardItems()">Items</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardMeal()">Meal</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardOrder()">Order</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardUser()">Users</a></li>

            </ul>
        </div>
    </div>

    <a href="javascript:void(0)" (click)="addAllergy()" class="btn-primary">Add Allergy</a>
    <div *ngFor="let allergy of allergyList">
        <table class="table">
            <tr>
                <th>Allergy Name</th>
                <th>Allergy Number</th>
                <th>Actions</th>
            </tr>

            <tr>
                <td>{{allergy.nameAllergy}}</td>
                <td>{{allergy.numberAllergy}}</td>
                <td>
                    <a href="javascript:void(0)" (click)="updateAllergy(allergy._id)" class="btn-secondary">Update Allergy</a>
                    <a href="javascript:void(0)" (click)=" deleteAllergy(allergy)" class="btn-danger">Delete Allergy</a>
                </td>
            </tr>

        </table>
    </div>
    <footer>
        <div class="footer">
            <div class="wrapper">
                <p class="text-center">Copyright © 2022 <a href="#"><strong>Appetizing.</strong></a> All rights
                    reserved.</p>
            </div>
        </div>
    </footer>

</body>

</html>