<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appetizing</title>
 
</head>

<body>

    <img class="logo" src="assets/images/logo.png" alt="logo">

    <h1>Add Admin</h1>


    <form #f="ngForm" [formGroup]="addAdminForm">

        <table class="table">
            <tr>
                <td>Full Name: </td>
                <td>
                    <input formControlName="fullName" type="text" id="admin_name"  class="form-control" placeholder="Enter Your Name" required>
                    
                </td>
            </tr>

            <tr>
                <td>Username: </td>
                <td>
                    <input formControlName="username" type="text" id="user-name"  class="form-control" placeholder="Enter user-Name" required>
                </td>
            </tr>

            <tr>
                <td>Password: </td>
                <td>
                    <input type="password" id="admin-password" formControlName="password" minlength="6" maxlength="60" class="form-control" placeholder="Your Password" required>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" name="submit" (click)="registerAdmin()" value="Add Admin" class="btn-secondary">
                    <a href="javascript:void(0)" (click)="dashboardAdmin()" class="btn-primary">Return</a>
                </td>
            </tr>

        </table>

    </form>
    <footer>
        <div class="footer">
            <div class="wrapper">
                <p class="text-center">Copyright © 2022 <a href="#">Appetizing</a>. All rights reserved.</p>
            </div>
        </div>
    </footer>

</body>

</html>