<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage</title>

</head>

<body>

    <img class="logo" src="assets/images/logo.png" alt="logo">

    <h1>Manage Order</h1>

    <div class="menu text-center">
        <div class="wrapper">
            <ul>
                <li><a href="javascript:void(0)" (click)="dashboardHome()">Home</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardAdmin()">Admin</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardAllergy()">Allergy</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardDrinks()">Drinks</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardItems()">Items</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardMeal()">Meal</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardUser()">Users</a></li>
                
            </ul>
        </div>
    </div>

    <a href="javascript:void(0)" (click)="addOrder()" class="btn-primary">Add Order</a>

    <table class="table">
        <tr>
            <th>Table Number</th>
            <th>User id</th>
            <th>Meals</th>
            <th>Drinks</th>
            <th>Extras</th>
            <th>Price</th>
            <th>Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <div *ngFor="let order">
            <tr>
                <td>{{order.tableNumber}}</td>
                <td>{{order.userIdOrder}}</td>
                <td>{{order.mealOrder}}</td>
                <td>{{order.drinkOrder}}</td>
                <td>{{order.extraOrder}}</td>
                <td>{{order.priceOrder}}</td>
                <td>{{order}}</td>
                <td>{{order}}</td>
                <td>
                    <a href="javascript:void(0)" (click)="updateOrder()" class="btn-secondary">Update Order</a>
                    <a href="" class="btn-danger">Delete Order</a>
                </td>
            </tr>
        </div>
    </table>

    <footer>
        <div class="footer">
            <div class="wrapper">
                <p class="text-center">Copyright © 2022 <a href="#"><strong>Appetizing.</strong></a> All rights reserved.</p>
            </div>
        </div>
    </footer>

</body>

</html>