<div class="foods-tabs-area section-ptb bg-semi-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-title-3 mb-5">
                    <h2 class="heading-2-extra">Home</h2>
                </div>
                <div class="nav menu-tab flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    <a class="nav-link" id="v-pills-seafood-tab" href="javascript:void(0)" (click)="login()" data-bs-toggle="pill" data-bs-target="#v-pills-seafood"
                        role="tab" aria-controls="v-pills-seafood" aria-selected="true">
                        <span class="heading-6">LOGIN</span>
                    </a>
                    <a class="nav-link" id="v-pills-seafood-tab"  href="javascript:void(0)"(click)="signup()" data-bs-toggle="pill" data-bs-target="#v-pills-seafood"
                        role="tab" aria-controls="v-pills-seafood" aria-selected="true">
                        <span class="heading-6">REGISTER</span>
                    </a>
                    <a class="nav-link" id="v-pills-seafood-tab" href="javascript:void(0)" data-bs-toggle="pill" data-bs-target="#v-pills-seafood"
                        role="tab" aria-controls="v-pills-seafood" aria-selected="true">
                        <span class="heading-6">BOOK A TABLE</span>
                    </a>
                    <a class="nav-link" id="v-pills-seafood-tab" href="javascript:void(0)" data-bs-toggle="pill" data-bs-target="#v-pills-seafood"
                        role="tab" aria-controls="v-pills-seafood" aria-selected="true">
                        <span class="heading-6">ORDER TO TABLE</span>
                    </a>
                    <a class="nav-link" id="v-pills-seafood-tab" href="javascript:void(0)" (click)="foodOrDrink('0')" data-bs-toggle="pill" data-bs-target="#v-pills-seafood"
                    role="tab" aria-controls="v-pills-seafood" aria-selected="true">
                    <span class="heading-6">FOOD MENU</span>
                </a>
                <a class="nav-link" id="v-pills-seafood-tab" href="javascript:void(0)"  (click)="foodOrDrink('1')" data-bs-toggle="pill" data-bs-target="#v-pills-seafood"
                role="tab" aria-controls="v-pills-seafood" aria-selected="true">
                <span class="heading-6">DRINKS MENU</span>
            </a>
                </div>
            </div>
        </div> 
    </div>
</div>