<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appetizing</title>

</head>

<body>

    <img class="logo" src="assets/images/logo.png" alt="logo">

    <h1>Update Item</h1>


    <form #f="ngForm" [formGroup]="updateItemForm">

        <table class="table">
            <tr>
                <td>Name: </td>
                <td>
                    <input formControlName="name" type="text" id="item_name" class="form-control" placeholder="{{itemToUpdate.nameItem}}">
                </td>
            </tr>

            <tr>
                <td>Price: </td>
                <td>
                    <input formControlName="price" type="number" id="item_price" class="form-control" placeholder="{{itemToUpdate.priceItem}}">                </td>
            </tr>

            <tr>
                <td>Status: </td>
                <td>
                    <input type="radio" name="active" value="Yes"> Yes 
                    <input type="radio" name="active" value="No"> No 
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" name="submit" href="javascript:void(0)" (click)="updateItem()" value="Update Item" class="btn-secondary">
                    <a href="javascript:void(0)" (click)="dashboardItem()" class="btn-primary">Return</a>
                </td>
            </tr>

        </table>

    </form>
    <footer>
        <div class="footer">
            <div class="wrapper">
                <p class="text-center">Copyright © 2022 <a href="#">Appetizing</a>. All rights reserved.</p>
            </div>
        </div>
    </footer>

</body>

</html>