<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appetizing</title>

</head>

<body>

    <img class="logo" src="assets/images/logo.png" alt="logo">

    <h1>Update Drink</h1>


    <form #f="ngForm" [formGroup]="updateDrinkForm">
            <table class="table">
                <tr>
                    <td>Name: </td>
                    <td>
                        <input formControlName="name" type="text" id="drink_name" class="form-control" placeholder="{{drinkToUpdate.nameDrink}}">
                    </td>
                </tr>

                <tr>
                    <td>Price: </td>
                    <td>
                        <input formControlName="price" type="number" id="drink_price" class="form-control" placeholder="{{drinkToUpdate.priceDrink}}">
                    </td>
                </tr>

                <tr>
                    <td>Category: </td>
                    <td>
                        <input formControlName="category" type="radio" id="drink_category" value="beer"> beer
                        <input formControlName="category" type="radio" id="drink_category" value="wine"> wine
                        <input formControlName="category" type="radio" id="drink_category" value="cocktail"> cocktail
                        <input formControlName="category" type="radio" id="drink_category" value="soft drink"> soft drink
                        <input formControlName="category" type="radio" id="drink_category" value="gin"> gin
                        <input formControlName="category" type="radio" id="drink_category" value="vodka"> vodka
                    </td>
                </tr>

                <tr>
                    <td>Status: </td>
                    <td>
                        <input formControlName="status" type="radio" id="active" value="Yes"> Yes
                        <input formControlName="status" type="radio" id="active" value="No"> No
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <input type="submit" name="submit" (click)="updateDrink()" value="Update Drink" class="btn-secondary">
                        <a href="javascript:void(0)" (click)="dashboardDrinks()" class="btn-primary">Return</a>
                    </td>
                </tr>

            </table>
        

    </form>
    <footer>
        <div class="footer">
            <div class="wrapper">
                <p class="text-center">Copyright © 2022 <a href="#">Appetizing</a>. All rights reserved.</p>
            </div>
        </div>
    </footer>

</body>

</html>