<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage</title>

</head>

<body>

    <img class="logo" src="assets/images/logo.png" alt="logo">

    <h1>Manage Drinks</h1>

    <div class="menu text-center">
        <div class="wrapper">
            <ul>
                <li><a href="javascript:void(0)" (click)="dashboardHome()">Home</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardAllergy()">Allergy</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardItems()">Items</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardMeal()">Meal</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardOrder()">Order</a></li>
                <li><a href="javascript:void(0)" (click)="dashboardUser()">Users</a></li>

            </ul>
        </div>
    </div>

    <a href="javascript:void(0)" (click)="dashboardAddDrinks()" class="btn-primary">Add Drink</a>
    <div *ngFor="let drink of drinkList">
        <table class="table">

            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>

            <tr>
                <td>{{drink.nameDrink}}</td>
                <td>{{drink.priceDrink}}</td>
                <td>{{drink.category}}</td>
                <td>{{drink.status}}</td>
                <td>
                    <a href="javascript:void(0)" (click)="updateDrink(drink._id)" class="btn-secondary">Update Drink</a>
                    <a href="javascript:void(0)" (click)="deleteDrink(drink)" class="btn-danger">Delete Drink</a>
                </td>
            </tr>

        </table>
    </div>

    <footer>
        <div class="footer">
            <div class="wrapper">
                <p class="text-center">Copyright © 2022 <a href="#"><strong>Appetizing.</strong></a> All rights
                    reserved.</p>
            </div>
        </div>
    </footer>

</body>

</html>